In [2]:
import pandas as pd
import numpy as np
import math
import statistics
import scipy.stats

2.0.1

In [3]:
df=pd.read_excel("Age-Income-Dataset.xlsx")
df

           Age  Income
0        Young   25000
1   Middle Age   54000
2          Old   60000
3        Young   15000
4        Young   45000
5        Young   65000
6        Young   70000
7        Young   30000
8   Middle Age   27000
9        Young   23000
10       Young   48000
11         Old   52000
12       Young   33000
13         Old   80000
14         Old   75000
15         Old   35000
16  Middle Age   29000
17  Middle Age   57000
18         Old   43000
19  Middle Age   56000
20         Old   63000
21         Old   32000
22         Old   45000
23         Old   89000
24  Middle Age   90000
25  Middle Age   93000
26       Young   80000
27       Young   87000
28       Young   38000
29       Young   23000
30  Middle Age   38900
31  Middle Age   53200
32         Old   43800
33  Middle Age   25600
34  Middle Age   65400
35         Old   76800
36         Old   89700
37         Old   41800
38       Young   31900
39         Old   25600
40  Middle Age   45700
41         Old   35600
42       Young   54300
43  Middle Age   65400
44         Old   67800
45         Old   24500
46  Middle Age   34900
47         Old   45300
48       Young   68400
49  Middle Age   51700

MEAN

In [4]:
#calculating mean by using formula
mean_income=sum(df['Income'])/len(df['Income'])
print("The mean by using formula --",mean_income)

#calculating mean by statistics library
mean_incomee=statistics.mean(df['Income'])
print("The mean by using statistics library --",mean_incomee)

#calculating mean by pandas library
mean_incomeee=df['Income'].mean()
print("The mean by using pandas library --",mean_incomeee)

#calculating mean by numpy library
income_np= np.array(df['Income'])
mean_incommee=np.mean(income_np)
print("The mean by using numpy library --",mean_incommee)

The mean by using formula -- 50966.0
The mean by using statistics library -- 50966
The mean by using pandas library -- 50966.0
The mean by using numpy library -- 50966.0

MEDIAN

In [5]:
#Calculating median by using formulas
n = len(df['Income'])
if n % 2:
    income_median = sorted(df['Income'])[round(0.5*(n-1))]
else:
    x_ord, idx = sorted(df['Income']), round(0.5 * n)
    income_median = 0.5 * (x_ord[idx-1] + x_ord[idx])

print("The median by using Formula --",income_median)

#Calculating median by using statistics library
incomee_median=statistics.median(df['Income'])
print("The median by using statistics library --",incomee_median)

#Calculating median by using statistics library
income_meedian=df['Income'].median()
print("The median by using pandas library --",income_meedian)

#Calculating median by using statistics library
incomeee_median=np.median(income_np)
print("The median by using numpy library --",incomeee_median)

The median by using Formula -- 46850.0
The median by using statistics library -- 46850.0
The median by using pandas library -- 46850.0
The median by using numpy library -- 46850.0

In [15]:
idf=df['Income']

In [16]:
#Calculating mode by using statistics library
income_modee=statistics.mode(df['Income'])
print("The mode by using statistics library --",income_modee)

#Calculating mode by using pandas library
incomee_mode=idf.mode()
print("The mode by using pandas library --",incomee_mode)

The mode by using statistics library -- 45000
The mode by using pandas library -- 0    23000
1    25600
2    45000
3    65400
4    80000
Name: Income, dtype: int64

VARIANCE

In [ ]:
# Calculating Variance using Formula 
income=df['Income']
n = len(income)
income_mean = sum(income) / n
variance = sum((item - income_mean)**2 for item in income) / (n - 1)
print("The variance using formula --",variance)

#Calculating Variance using statistics library
i_variance=statistics.variance(income)
print("The Variance using Statistics library --",i_variance)

#Calculating Variance using pandas library
i_variance=income.var(ddof=1)
print("The Variance using pandas library --",i_variance)

#Calculating Variance using numpy library
income_variance=np.var(income_np,ddof=1)
print("The Variance using numpy library --",income_variance)

The variance using formula -- 445070044.8979592
The Variance using Statistics library -- 445070044.8979592
The Variance using pandas library -- 445070044.8979592
The Variance using numpy library -- 445070044.8979592

STANDARD DEVIATION

In [ ]:
#Calculating Standard Deviation using formula
i_stdv=variance**0.5
print("The standard deviation using formula --",i_stdv)\

#Calculating standard deviation using statistics library
i_std= statistics.stdev(income)
print("The standard deviation using statistics library --",i_std)

#Calculating standard deviation using pandas library
income_std= income.std(ddof=1)
print("The standard deviation using pandas library --",income_std)

#Calculating standard deviation using numpy library
i_stad= np.std(income_np,ddof=1)
print("The standard deviation using numpy library --",i_std)

The standard deviation using formula -- 21096.683267707253
The standard deviation using statistics library -- 21096.683267707253
The standard deviation using pandas library -- 21096.683267707253
The standard deviation using numpy library -- 21096.683267707253

SKEWNESS

In [ ]:
# Calculating Skewness using formula
n = len(income)
income_std = income_variance ** 0.5
income_skew = (sum((item - income_mean)**3 for item in income)* n / ((n - 1) * (n - 2) * income_std**3))
print("The Skewness using formula --",income_skew)

#Calculating Skewness using scipy library
i_skew=scipy.stats.skew(income_np,bias=False)
print("The Skewness using Scipy Library --",i_skew)

#Calculating Skewness usingn pandas library
iskew=income.groupby(df['Age']).skew()
print("The Skewness using pandas library --\n",iskew)

The Skewness using formula -- 0.3896340114677523
The Skewness using Scipy Library -- 0.3896340114677522
The Skewness using pandas library --
 Age
Middle Age    0.642247
Old           0.369497
Young         0.456058
Name: Income, dtype: float64

MAXIMUM AND MINIMUM

In [ ]:
#calculating maximum and minimum 
max=df['Income'].max()
print("The maximum income is --",max)

min=df['Income'].min()
print("The minimum income is --",min)

The maximum income is -- 93000
The minimum income is -- 15000

PERCENTILE

In [ ]:
#Calculating percentile using numpy
perc=np.percentile(income_np,75)
print("The percentile is --",perc)

The percentile is -- 65400.0

USING DESCRIBE METHOD

In [ ]:
df.describe()

             Income
count     50.000000
mean   50966.000000
std    21096.683268
min    15000.000000
25%    33475.000000
50%    46850.000000
75%    65400.000000
max    93000.000000

CALCULATING SUMMARY STAISTICS OF INCOME GROUPED BY THE AGE GROUPS

In [ ]:
df.groupby(df['Age']).describe()

           Income                                                         \
            count          mean           std      min      25%      50%
Age
Middle Age   15.0  52453.333333  20497.800114  25600.0  36900.0  53200.0
Old          19.0  53942.105263  20868.165968  24500.0  38700.0  45300.0
Young        16.0  46037.500000  22356.859499  15000.0  28750.0  41500.0


                75%      max
Age
Middle Age  61200.0  93000.0
Old         71400.0  89700.0
Young       65850.0  87000.0